/* Google Icon */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

html {
    scroll-behavior: smooth;
    transition: all 500ms;
    scroll-padding-top: 7em;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0F0F0F;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    display: inline;
}

main {
    width: 1000px;
    margin: auto;
}

nav {
    background-color: white;
    position: sticky;
    top: 0;
    margin: 0;
    overflow: auto;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

nav li {
    display: inline;
    list-style-type: none;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: slategrey;
    font-weight: bold;
}

.note-app h1 {
    color: white;
    text-align: center;
    background-color: darkslategrey;
    margin: 0;
    padding: 8px;
}

.note-app h2 {
    margin-left: 16px;
}

.search-note {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.search-note input {
    border: none;
    border-radius: 8px;
    width: 100%;
    background-color: darkslategrey;
    color: white;
    padding: 8px;
    margin: 8px;
}

.search-note span {
    color: white;
    padding: 4px;
    border-radius: 8px;
    background-color: darkslategrey;

}

.search-note input::placeholder {
    color: lightslategrey;
}

.note-input {
    border: darkslategrey solid 3px;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
}

.note-input p {
    margin-left: 12%;
}

.note-input input {
    font-family: sans-serif;
    display: block;
    width: 75%;
    height: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 8px;
    background-color: darkslategrey;
    border: none;
    color: white;
}

.note-input input::placeholder {
    color: lightslategrey;
}

.note-input textarea {
    font-family: sans-serif;
    display: block;
    width: 75%;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 8px;
    background-color: darkslategrey;
    border: none;
    color: white;
}

.note-input textarea::placeholder {
    color: lightslategrey;
}

.note-input button {
    display: flex;
    background-color: grey;
    color: whitesmoke;
    font-weight: bold;
    padding: 8px 25px;
    cursor: pointer;
    border-radius: 8px;
    border: 0;
    margin: auto;
    transition: all 250ms;
}

.note-input button:hover {
    background-color: darkslategrey;
}

.note-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.note-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: darkslategrey solid 3px;
    border-radius: 8px;
    padding: 16px 16px;
    margin: 16px;
}

.note-item__header {
    border-bottom: darkslategrey solid 3px;
    padding-bottom: 8px;
}

.note-item__title {
    margin: auto 0;
    align-content: center;
}

.note-item__date {
    color: white;
}

.note-item__buttons {
    display: flex;
    justify-content: right;
}

.note-item__delete {
    color: red;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    padding: 8px 10px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    transition: all 250ms;
}

.note-item__delete:hover {
    color: white;
    background-color: red;
}

.note-item__archive {
    color: yellow;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    padding: 8px 10px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    transition: all 250ms;
}

.note-item__archive:hover {
    color: black;
    background-color: yellow;
}

.note-item__unarchive {
    color: limegreen;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    padding: 8px 10px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    transition: all 250ms;
}

.note-item__unarchive:hover {
    color: white;
    background-color: limegreen;
}

.empty-note span {
    display: flex;
    justify-content: center;
    color: yellow;
    font-size: xx-large;
}

.empty-note p {
    text-align: center;
}

@media only screen and (max-width: 1028px) {
    main {
        width: 100%;
    }

    .note-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .note-list {
        grid-template-columns: repeat(1, 1fr);
    }
}